<a href="https://colab.research.google.com/github/dinesh842/python-/blob/main/Copy_of_wine_accuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/wine_data.txt')

In [ ]:
df.head()

   Class  Alcohol  Malic acid  ...   Hue  OD280/OD315  Proline
0      0    14.23        1.71  ...  1.04         3.92     1065
1      0    13.20        1.78  ...  1.05         3.40     1050
2      0    13.16        2.36  ...  1.03         3.17     1185
3      0    14.37        1.95  ...  0.86         3.45     1480
4      0    13.24        2.59  ...  1.04         2.93      735

[5 rows x 14 columns]

In [ ]:
df.tail()

     Class  Alcohol  Malic acid  ...   Hue  OD280/OD315  Proline
173      2    13.71        5.65  ...  0.64         1.74      740
174      2    13.40        3.91  ...  0.70         1.56      750
175      2    13.27        4.28  ...  0.59         1.56      835
176      2    13.17        2.59  ...  0.60         1.62      840
177      2    14.13        4.10  ...  0.61         1.60      560

[5 rows x 14 columns]

In [ ]:
df.describe()

            Class     Alcohol  Malic acid  ...         Hue  OD280/OD315      Proline
count  178.000000  178.000000  178.000000  ...  178.000000   178.000000   178.000000
mean     0.938202   13.000618    2.336348  ...    0.957449     2.611685   746.893258
std      0.775035    0.811827    1.117146  ...    0.228572     0.709990   314.907474
min      0.000000   11.030000    0.740000  ...    0.480000     1.270000   278.000000
25%      0.000000   12.362500    1.602500  ...    0.782500     1.937500   500.500000
50%      1.000000   13.050000    1.865000  ...    0.965000     2.780000   673.500000
75%      2.000000   13.677500    3.082500  ...    1.120000     3.170000   985.000000
max      2.000000   14.830000    5.800000  ...    1.710000     4.000000  1680.000000

[8 rows x 14 columns]

In [ ]:
df.isnull()

     Class  Alcohol  Malic acid  ...    Hue  OD280/OD315  Proline
0    False    False       False  ...  False        False    False
1    False    False       False  ...  False        False    False
2    False    False       False  ...  False        False    False
3    False    False       False  ...  False        False    False
4    False    False       False  ...  False        False    False
..     ...      ...         ...  ...    ...          ...      ...
173  False    False       False  ...  False        False    False
174  False    False       False  ...  False        False    False
175  False    False       False  ...  False        False    False
176  False    False       False  ...  False        False    False
177  False    False       False  ...  False        False    False

[178 rows x 14 columns]

In [ ]:
X=df.iloc[:,1:13]
y=df.iloc[:,0]

In [ ]:
X.head()

   Alcohol  Malic acid   Ash  ...  Color intensity   Hue  OD280/OD315
0    14.23        1.71  2.43  ...             5.64  1.04         3.92
1    13.20        1.78  2.14  ...             4.38  1.05         3.40
2    13.16        2.36  2.67  ...             5.68  1.03         3.17
3    14.37        1.95  2.50  ...             7.80  0.86         3.45
4    13.24        2.59  2.87  ...             4.32  1.04         2.93

[5 rows x 12 columns]

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
#Training and predicting
from sklearn.neighbors import KNeighborsClassifier
knnmodel=KNeighborsClassifier(n_neighbors=5)
knnmodel.fit(X_train,y_train)
ypredict=knnmodel.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,ypredict)
acc

0.9444444444444444

In [ ]:
#confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,ypredict)
cm

array([[19,  0,  0],
       [ 3, 19,  0],
       [ 0,  0, 13]])